In [14]:
# Import & Visualize data
import pandas
import numpy as np
import matplotlib.pyplot as plt

file_name = 'Real estate.csv'
real_estate_df = pandas.read_csv(file_name)
real_estate_df.shape
real_estate_df
real_estate_df.columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

In [15]:
# Treat & prepare data
## Drop 'No' column
real_estate_df = real_estate_df.drop('No', axis=1)

'"\ndataset = pandas.read_csv(file_name)\ndis_nearest_mrt = dataset[\'X3 distance to the nearest MRT station\']\ny = dataset[\'Y house price of unit area\']\nhouse_age = dataset[\'X2 house age\']\nfig, ax = plt.subplots(1,1)\nax.set_ylabel(\'Y house price of unit area\')\nax.set_xlabel(\'distance to the nearest MRT station\')\nax.scatter(dis_nearest_mrt, y)\n'

In [16]:
# Get train and test data
# 80% of dataset will be for train and the rest for test
train_set_ratio = 0.8*real_estate_df.shape[0]
train_set = real_estate_df.loc[:train_set_ratio-1, :]
test_set = real_estate_df.loc[train_set_ratio:, :]
train_set
test_set

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
332,2013.167,39.8,617.71340,2,24.97577,121.53475,39.6
333,2012.750,7.8,104.81010,5,24.96674,121.54067,38.4
334,2012.917,30.0,1013.34100,5,24.99006,121.53460,22.8
335,2013.583,27.3,337.60160,6,24.96431,121.54063,36.5
336,2012.833,5.1,1867.23300,2,24.98407,121.51748,35.6
...,...,...,...,...,...,...,...
409,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [21]:
# Get feateares & target for train and test sets
feature_column_name =  'Y house price of unit area'
y_train = train_set[feature_column_name].values
X_train = train_set.drop(feature_column_name, axis=1).values
y_test = test_set[feature_column_name].values
X_test = test_set.drop(feature_column_name, axis=1).values

array([ 37.9,  42.2,  47.3,  54.8,  43.1,  32.1,  40.3,  46.7,  18.8,
        22.1,  41.4,  58.1,  39.3,  23.8,  34.3,  50.5,  70.1,  37.4,
        42.3,  47.7,  29.3,  51.6,  24.6,  47.9,  38.8,  27. ,  56.2,
        33.6,  47. ,  57.1,  22.1,  25. ,  34.2,  49.3,  55.1,  27.3,
        22.9,  25.3,  47.7,  46.2,  15.9,  18.2,  34.7,  34.1,  53.9,
        38.3,  42. ,  61.5,  13.4,  13.2,  44.2,  20.7,  27. ,  38.9,
        51.7,  13.7,  41.9,  53.5,  22.6,  42.4,  21.3,  63.2,  27.7,
        55. ,  25.3,  44.3,  50.7,  56.8,  36.2,  42. ,  59. ,  40.8,
        36.3,  20. ,  54.4,  29.5,  36.8,  25.6,  29.8,  26.5,  40.3,
        36.8,  48.1,  17.7,  43.7,  50.8,  27. ,  18.3,  48. ,  25.3,
        45.4,  43.2,  21.8,  16.1,  41. ,  51.8,  59.5,  34.6,  51. ,
        62.2,  38.2,  32.9,  54.4,  45.7,  30.5,  71. ,  47.1,  26.6,
        34.1,  28.4,  51.6,  39.4,  23.1,   7.6,  53.3,  46.4,  12.2,
        13. ,  30.6,  59.6,  31.3,  48. ,  32.5,  45.5,  57.4,  48.6,
        62.9,  55. ,  60.7,  41. ,  37.5,  30.7,  37.5,  39.5,  42.2,
        20.8,  46.8,  47.4,  43.5,  42.5,  51.4,  28.9,  37.5,  40.1,
        28.4,  45.5,  52.2,  43.2,  45.1,  39.7,  48.5,  44.7,  28.9,
        40.9,  20.7,  15.6,  18.3,  35.6,  39.4,  37.4,  57.8,  39.6,
        11.6,  55.5,  55.2,  30.6,  73.6,  43.4,  37.4,  23.5,  14.4,
        58.8,  58.1,  35.1,  45.2,  36.5,  19.2,  42. ,  36.7,  42.6,
        15.5,  55.9,  23.6,  18.8,  21.8,  21.5,  25.7,  22. ,  44.3,
        20.5,  42.3,  37.8,  42.7,  49.3,  29.3,  34.6,  36.6,  48.2,
        39.1,  31.6,  25.5,  45.9,  31.5,  46.1,  26.6,  21.4,  44. ,
        34.2,  26.2,  40.9,  52.2,  43.5,  31.1,  58. ,  20.9,  48.1,
        39.7,  40.8,  43.8,  40.2,  78.3,  38.5,  48.5,  42.3,  46. ,
        49. ,  12.8,  40.2,  46.6,  19. ,  33.4,  14.7,  17.4,  32.4,
        23.9,  39.3,  61.9,  39. ,  40.6,  29.7,  28.8,  41.4,  33.4,
        48.2,  21.7,  40.8,  40.6,  23.1,  22.3,  15. ,  30. ,  13.8,
        52.7,  25.9,  51.8,  17.4,  26.5,  43.9,  63.3,  28.8,  30.7,
        24.4,  53. ,  31.7,  40.6,  38.1,  23.7,  41.1,  40.1,  23. ,
       117.5,  26.5,  40.5,  29.3,  41. ,  49.7,  34. ,  27.7,  44. ,
        31.1,  45.4,  44.8,  25.6,  23.5,  34.4,  55.3,  56.3,  32.9,
        51. ,  44.5,  37. ,  54.4,  24.5,  42.5,  38.1,  21.8,  34.1,
        28.5,  16.7,  46.1,  36.9,  35.7,  23.2,  38.4,  29.4,  55. ,
        50.2,  24.7,  53. ,  19.1,  24.7,  42.2,  78. ,  42.8,  41.6,
        27.3,  42. ,  37.5,  49.8,  26.9,  18.6,  37.7,  33.1,  42.5,
        31.3,  38.1,  62.1,  36.7,  23.6,  19.2,  12.8])

In [17]:
# split dataset into test and train datasets
# 80 percentis will be for train and rest is for test
eighty_pct = 0.8*dataset.shape[0]
#X = dataset.drop('Y house price of unit area', axis=1)
train = dataset.loc[:eighty_pct-1, :]
test_set = dataset.loc[eighty_pct:, :]
y_train = train['Y house price of unit area'].values
X_train = train.drop('Y house price of unit area', axis=1).values
X_train.shape


def compute_squared_errors_cost(X, y, w, b):
    
    cost = 0.0
    m = X.shape[0]
    
    for i in range(m):
        f_wb = np.dot(X[i], w) + b
        cost += (f_wb - y[i])**2
    cost = cost / (1/(2*m))
    return cost
w = [3, 5, 2, 1, 4, 2, 1]

test_c = compute_squared_errors_cost(X_train, y_train, w, 1)

def compute_gradient_lg(X, y, w, b):
    m, n = X.shape
    dj_dw = np.zeros((n,))
    dj_db = 0.0
    print('X', X[3, 3])
    for i in range(m):
        f_wb_i = np.dot(X[i], b)
        error = f_wb_i - y[i]
        for j in range(n):
            print(i,j)
            dj_dw[j] += dj_dw[j] + error * X[i,j]
        dj_db += dj_db + error
    dj_dw = dj_dw / m
    dj_db = dj_db / m
    
    return dj_dw, dj_db

def find_best_parameter(X, y, alpha, iters, w, b):
    m,n = X.shape
    for i in range(m):
        dj_dw, dj_db = compute_gradient_lg(X, y, w, b)
        b = b - alpha * dj_db
        for j in (n):
            w[j] = w[j] - alpha * dj_dw
    
    return {"final_w": w, "final_b": b}
            
w_guess = [3, 10, 23, 7, 2, 13, 4]
finalwtf = find_best_parameter(X_train, y_train, 0.1, 100, w_guess, 20)

NameError: name 'dataset' is not defined